site_name: Kubescape
site_url: https://kubescape.io/
repo_url: https://github.com/kubescape/kubescape
theme:
  name: material
  logo: assets/kubescape-lockup.svg
  font:
    text: Fira Sans
    code: Fira Mono
  features:
    - content.code.copy
    - navigation.sections
    - navigation.tabs
    - navigation.footer
    - navigation.tracking
    - navigation.expand
    # - navigation.indexes
  icon:
    repo: fontawesome/brands/github
  custom_dir: overrides
plugins:
  - blog:
      archive_date_format: MMMM yyyy
      archive_url_format: "archive/{date}"
      archive_url_date_format: yyyy/MM
      categories_url_format: "category/{slug}"
  - rss:
      match_path: blog/posts/.*
      date_from_meta:
        as_creation: date
      categories:
        - categories
        - tags
      abstract_chars_count: -1
      abstract_delimiter: ""
  - search
  - glightbox
extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/@kubescape
    - icon: fontawesome/brands/github
      link: https://github.com/kubescape/kubescape
  analytics:
    provider: google
    property: G-BS68QKB4RT
extra_css:
  - stylesheets/extra.css
copyright:
  Copyright &copy; 2021 - 2023 <a href="https://kubescape.devstats.cncf.io/d/66/developer-activity-counts-by-companies?orgId=1">The Kubescape Authors</a>
nav:
    - Home: 'index.md'
    - Docs:
        - 'Documentation overview': 'docs/index.md'
        - 'Getting Started': 'docs/getting-started.md'
        - 'Installing the client': 'docs/install-cli.md'
        - 'Installing in your cluster': 'docs/install-operator.md'
        - 'Scanning your environment': 'docs/scanning.md'
        - 'Customizing your scans': 'docs/customizing-your-scans.md'
        - 'Accepting risk': 'docs/accepting-risk.md'
        - 'Connecting to providers': 'docs/providers.md'
        - Kubescape Operator:
            - 'Overview': 'docs/operator/index.md'
            - 'Vulnerability scanning': 'docs/operator/vulnerabilities.md'
            - 'Relevancy': 'docs/operator/relevancy.md'
            - 'Scheduled scans': 'docs/operator/scheduled-scans.md'
            - 'Continuous scanning': 'docs/operator/continuous-scanning.md'
            - 'Automatic upgrades': 'docs/operator/automatic-release-upgrades.md'
            - 'VEX document generation (experimental)': 'docs/operator/generating-vex.md'
        - Integrations:
            - 'Overview': 'docs/integrations/index.md'
            - 'GitHub': 'docs/integrations/github.md'
            - 'Lens': 'docs/integrations/lens.md'
            - 'VS Code': 'docs/integrations/vscode.md'
        - Frameworks and Controls:
            - 'Overview': 'docs/frameworks-and-controls/index.md'
            - 'Frameworks': 'docs/frameworks-and-controls/frameworks.md'
            - 'Control library': 'docs/controls/index.md'
            - 'Configuring controls': 'docs/frameworks-and-controls/configuring-controls.md'
        - Use Cases:
            - 'Repo Scanning with GHA': 'docs/use-cases/Kubescape-gha/kubescape-gha.md'
    - Project:
        - 'About the Kubescape project': 'project/about.md'
        - 'License': 'project/license.md'
        - 'Community': 'project/community.md'
        - 'Contributing': 'https://github.com/kubescape/kubescape/blob/master/CONTRIBUTING.md'
    - Blog:
      - 'blog/index.md'
    - GitHub: 'https://github.com/kubescape/kubescape'

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
