name: Automerge

on:
  # Try enabling auto-merge for all open pull requests. (Only recommended for testing.)
  pull_request:
    types:
      - labeled
  pull_request_review:
    types:
      - submitted
  pull_request_target:
    types:
      - labeled

  workflow_dispatch:
    inputs:
      pull-request:
        description: Pull Request Number
        required: false
      review:
        description: Review ID
        required: false

jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - uses: reitermarkus/automerge@v2
        with:
          token: ${{ secrets.PAT }}
          merge-method: merge
          do-not-merge-labels: never-merge
          required-labels: automerge
          pull-request: ${{ github.event.inputs.pull-request }}
          review: ${{ github.event.inputs.review }}
          dry-run: false